<div class="card">
    <div class="card-body">
        <form [formGroup]="stdForm" (ngSubmit)="onAddStudent()">
            <div class="form-group">
                <label for="fname">First Name</label>
                <input type="text" id="fname" class="form-control" formControlName="fname">
            </div>
            <div class="form-group">
                <label for="lname">Last Name</label>
                <input type="text" id="lname" class="form-control" formControlName="lname">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
                <label for="contact">Contact</label>
                <input type="text" id="contact" class="form-control" formControlName="contact">
            </div>
            <div class="text-right">
                <button class="btn btn-primary">Add Student</button>
            </div>

        </form>
    </div>
</div>
